@{
    ViewData["Title"] = "Delete Assignments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model InterpretGO.Models.Assignment

<div class="parallax top-parallax-medium"></div> 

<div class="chunk">
    <h2>Are you sure you want to delete this?</h2>
    <hr />
    @Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)
    @using (Html.BeginForm())
    {
        <input class="btn btn-custom save-button" type="submit" value="Delete" />
    }
    @Html.ActionLink("Back to Index List", "Index")
    <br />
    @Html.ActionLink("Back to Your List", "List")
</div>

<div class="parallax bottom-parallax-large"></div> 
