@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

<div class="parallax top-parallax-small"></div>

<div class="chunk">
    <h2 class="auth-title">Welcome to InterpretGO! Please Log in or Register</h2>
    <hr />
    @if (User.Identity.IsAuthenticated)
    {
        <p>Hello @User.Identity.Name!</p>
    }
    else
    {
        <p>@Html.ActionLink("Register", "Register")</p>
        <p>@Html.ActionLink("Log in", "Login")</p>
        <p>@Html.ActionLink("Home", "Index", "Home")</p>
    }
</div>

<div class="parallax bottom-parallax-large"></div>

