/*General*/

body {
    font-size: 20px;
}

/*Account RedirectToModelCreation Page*/

.welcome {
    text-align: center;
    font-size: 60px;
    margin-top: 30px;
}
 .welcome-text {
     text-align: center;
 }

 .welcome-text a {
     margin-left: 30%;
 }

.welcome-icons {
    width: 250px;
    height: 250px;
    margin-left: 26%;
    margin-top: 20%;
    margin-bottom: 10px;
}

/*Assignments List Page*/

#list-head {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-subhead {
    margin-top: 60px;
}

#list-not-logged-in-subhead {
    margin-top: 40px;
    text-align: center;
}

.list-table {
    margin-top: 20px;
    margin-bottom: 40px;
}

/*Client Index Page*/

.client-header {
    margin-top: 20px;
}

/*Client Create Page*/

.form-label label {
    min-width: 210px;
}

.add-client-button {
    margin: 20px;
    margin-top: 30px;
}

/*Home Index page*/

.home-page {
    background-image: url('../img/person5.jpeg');
    background-size: cover;
    background-position: center;
    height: 95vh;
}

/*Interpreter Index Page*/

.interpreter-index-list {
    margin-left: 10px;
}

.interpreter-index-name {
    margin-right: 20px;
    width: 200px !important;
}

/*Interpreter Create Page*/

.add-button {
    margin: 15px;
}

/*Interpreter details Page*/

.terp-detail-head {
    min-width: 110px;
}

/*Layout*/

.nav-space a {
    color: orange !important;
    padding-right: 40px;
}

.nav-space a:hover {
    color: salmon !important;
    padding-right: 40px;
    text-decoration: none;
}

.logoff-links {
    margin-left: 20px;
}

.nav-custom-spacing {
    margin-right: 20px;
}

