/*General*/

body {
    font-size: 20px;
}

.all {
   background-image: url('../img/light-blue-backgroud.jpg');
   background-size: 300%;

}

.render-body {
    /*margin-top: 100px;*/
}

/*Account RedirectToModelCreation Page*/

.welcome {
    text-align: center;
    font-size: 60px;
    margin-top: 30px;
}
 .welcome-text {
     text-align: center;
 }

 .welcome-text a {
     margin-left: 30%;
 }

.welcome-icons {
    width: 250px;
    height: 250px;
    margin-left: 26%;
    margin-top: 20%;
    margin-bottom: 10px;
}

/*Assignments List Page*/

#list-head {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-subhead {
    margin-top: 60px;
}

#list-not-logged-in-subhead {
    margin-top: 40px;
    text-align: center;
}

.list-table {
    margin-top: 20px;
    margin-bottom: 40px;
}

/*Client Index Page*/

.client-header {
    margin-top: 20px;
}

/*Client Create Page*/

.form-label label {
    min-width: 210px;
}

.add-client-button {
    margin: 20px;
    margin-top: 30px;
}

/*Home Index page*/

.home-page {
    /*background-image: url('../img/light-purple-background.jpg');*/
    background-color: cornflowerblue;
    background-size: cover;
    background-position: center;
    height: 95vh;
}

.parallax {
    background-image: url('../img/light-purple-background.jpg');
    background-image: url('../img/blue-background.jpeg');
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    color: white;
    text-align: center;

}

.first-parallax {
    padding-top: 300px;
    height: 650px;
}

.first-header {
    font-size: 50px;

}

.chunk {
    background-color: white;
    min-height: 400px;
    padding: 50px;
    padding-top: 80px;
    text-align: center;
}

.chunk-header {
    margin-bottom: 15px;
}

/*Interpreter Index Page*/

.interpreter-index-list {
    margin-left: 10px;
}

.interpreter-index-name {
    margin-right: 20px;
    width: 200px !important;
}

/*Interpreter Create Page*/

.add-button {
    margin: 15px;
}

/*Interpreter details Page*/

.terp-detail-head {
    min-width: 110px;
}

/*Layout*/

.custom-navbar {
    background-color: rgba(0,0,0,.6) !important;
     top: 0;
    z-index: 100;
  position: fixed;
    width: 100%;
}

.nav-space a {
    color: orange !important;
    padding-right: 40px;
}

.nav-space a:hover {
    color: salmon !important;
    padding-right: 40px;
    text-decoration: none;
}

.logoff-links {
    margin-left: 20px;
}

.nav-custom-spacing {
    margin-right: 20px;
}

.logo {
    color: white !important;
    font-size: 30px;
    padding-left: 15px;
}

.logo:hover {
    text-decoration: none;
}

nav a {
    color: white !important;
}

.title-icon {
    height: 30px;
}

